:root {
  --primary-color: #9b5ec4;
  --secondary-color: #000000;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  margin: 0;
}
body {
  font-style: normal;
  margin: 0;
  padding: 0;
}
body[data-theme='dark'] {
  background-color: #131315;
  color: #fff;
}
body[data-theme='light'] {
  background-color: #fff;
  color: #131315;
}
.search-bar {
  display: flex;
  margin: auto;
  height: 50px;
  margin-top: 42vh;
  width: 30vw;
  border: 3px solid var(--primary-color);
  border-radius: 100px;
  padding: 5px;
  padding-right: 0;
  align-items: center;
  justify-content: center;
}
input#urlinp {
  width: 97%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  padding-left: 10px;
  background-color: inherit;
  color: inherit;
}
button#searchbtn {
  all: unset;
  height: 100%;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0 50% 50% 0;
  /* background: var(--primary-color); */
  background: transparent;
  display: grid;
  place-items: center;
  color: var(--secondary-color);
  filter: invert(1);
  cursor: pointer;
}
#searchimg {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: var(--secondary-color);
}
button#settings {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 10px;
  outline: none;
  border: none;
  background-color: inherit;
}
#settingsimg {
  fill: var(--primary-color);
}

/* Popup */

div#popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 39vw;
  top: 20vh;
  bottom: 10vh;
  width: 20vw;
  height: 30vh;
  background-color: #131315;
  color: white;
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  display: none;
}
p.ptitle {
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}
p.psubtitle {
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}
.psetting {
  display: flex;
  justify-content: space-between;
}

#closepopup {
  all: unset;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: none;
  color: var(--secondary-color);
  filter: invert(1);
  cursor: pointer;
}

.active {
  display: block !important;
}
